// Variables de color
$color-primario: #0B5B67;
$color-secundario: #E89292;
$fondo: #FBDD8E;

/* Estilo de todas las etiquetas h1 y h2 */
h1,
h2 {
  font-size: 36px;
  font-family: sans-serif;
}

h1 {
  color: $color-primario;
}

h2 {
  color: $color-secundario;
}

#cuerpo {
  background-color: $fondo;
}

/* Propiedades de color, ancho, relleno, borde a todos los botones del sitio que tengan asignado el id #boton. */
#boton {
  width: 100px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgb(168, 167, 167);
  color: #fff;
}

/* párrafos de tu web escritos en tipografía sans-serif, 14px de cuerpo de letra, interlineado de 18px y separación de 20 píxeles entre párrafo y párrafo */
#Descripcion {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  line-height: 18px;
  margin-bottom: 20px;
  text-align: justify;
}

.title {
  text-align: center;
  font-family: math;
}

#Registrado {
  font-family: 'Open Sans';
  font-size: 14px;
  color: rgb(153, 153, 153);
  line-height: 18px;
  margin-bottom: 20px;
}

#nosotros {
  padding: 4em;
}

#collares {
  display: inline;
  margin: 15px 12px 5px 10px;
}

$breakpoint-cellphone: 600px;
$breakpoint-desktop: 601px;

@media (max-width: $breakpoint-cellphone) {
  .listStyle {
    display: flex;
    flex-grow: 1;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }


}

@media (min-width: $breakpoint-desktop) {
  .listStyle {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.listItem {
  font-family: monospace;
  font-size: 20px;
  padding: 1em;
  color: burlywood;
  background-color: antiquewhite;
  border: 1px solid;
  border-color: transparent;
  text-transform: uppercase;
  inline-size: -webkit-fill-available;
  text-align: center;
}

.listItem:hover {
  background-color: gray;
}

.active {
  background-color: gainsboro;
}

.image-list {
  width: 200px;
  height: 200px;
  padding: 1em;
  object-fit: cover;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listAnchor {
  text-decoration: none;
  color: darkslategray;
}